*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: wheat;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
    width: 19.7em;
    font-size: 2em;
    text-align: right;
    border: 5px solid #c70606;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.buttons{
    display: flex;
    flex-direction: column;
}

button {
    font-size: 4em;
    font-weight: bolder;
    font-style: oblique;
    width: 150px;
    height: 130px;
    margin: 5px;
    border: 5px solid salmon;
    border-radius: 5px;
    background-color: rgb(23, 23, 114);
    color: white;
    cursor: pointer;
}
.row{
    display: flex;
    border-bottom: 5px solid black;
}
button:hover {
    background-color: #9e6e6e;
}

button:active {
    background-color: #a5a5a5;
}

.clear {
    background-color: #000000;
    color: white;
}
.equal {
    background-color: #4caf50;
    color: white;
}

.operator {
    background-color: #ff9800;
    color: white;
}